{% extends "layout.html" %}

{% block title %}
    Add Options
{% endblock %}

{% block main %}
<h2>Room: {{ room_name }}</h2>
    <table class="table">
        <thread>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Option Name</th>
                <th scope="col">Add/Remove</th>
            </tr>
        </thread>
        <tbody>
            {% for row in room %}
            <tr>
                <th scope="row">Number</th>
                <td>
                    {{ row['option_name'] }}
                </td>
                <td>
                   <form action="/createlist" method="post">
                    <button class="btn btn-primary" name="change" value={{ row['option_id'] }} type="submit">Remove</button>
                   </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">Add</th>
                <td>
                <form action="/createlist" method="post">
                        <input autocomplete="on" autofocus class="form-control" name="option" placeholder="New Option" type="text" maxlength="25">
                </td>
                <td>
                        <button class="btn btn-primary" name="add" value="add" type="submit">Add</button>
                </form>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
         function validate(){
            if ((document.querySelector('#password').value === '') || (document.querySelector('#password_con').value === '') || (document.querySelector('#username').value === '')){
                document.querySelector('#submit').disabled = true;
            }
            else{
                if(document.querySelector('#password').value === document.querySelector('#password_con').value){
                    document.querySelector('#submit').disabled = false;
                    document.getElementById('password_message').innerHTML = "Password match";
                }
                else{
                    document.getElementById('password_message').innerHTML = "Password does not match";
                }
            }
        }


        document.querySelector('#password').onkeyup = validate
        document.querySelector('#password_con').onkeyup = validate
        document.querySelector('#username').onkeyup = validate
    </script>

{% endblock %}


