{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
    <p>Are you ready to find an Answer to your group!</p>
    <div style="text-align: left;">
        
    <ul class="list-group">
        <h6>Follow these Steps:</h6>
        <li> Create a Room with the topic you want to submit for voting</li>
        <li> Choose the options to vote for</li>
        <li> Vote!</li>
        <li> Share and let your group Vote!</li>
        <li> After everyone votes, Close the room and see the Magic of Decision Maker!</li>
    </ul>
    </div>
    <hr>
    <form action="/create" method="post">
        <div class="form-group">
            <p>Create Room</p>

        </div>
        <div class="form-group">
            <input autocomplete="on" autofocus class="form-control" name="room_name" placeholder="Room Name" type="text" maxlength="10" required>
        </div>
        <button class="btn btn-primary" type="submit">Create Room</button>
    </form>

{% endblock %}


