{% extends "layout.html" %}

{% block title %}
    Rooms
{% endblock %}

{% block main %}

    <div class="form-group">
        <h3>These are the rooms you own and moderate:</h3>
    </div>
    <table class="table">
        <thread>
            <tr>
            
                <th scope="col">Room ID</th>
                <th scope="col">Room Name</th>
                <th scope="col">Edit Options</th>
            </tr>
        </thread>
        <tbody>
            {% for row in rooms %}
            <tr>
                <th scope="row">{{ row['room_id'] }}</th>
                <td>{{ row['room_name'] }}</td>
                <td>
                   <form action="/rooms" method="post">
                    <select class="form-control" id="dropdown-menu" name="option">
                            <option value="edit">Edit</option>
                            <option value=reset>Reset</option>
                            <option value=delete>Delete</option>
                    </select>
                    <button class="btn btn-primary" name=room_id value={{ row['room_id'] }} type="submit">Go!</button>
                   </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="form-group">
        <h3>These are the rooms you can vote:</h3>
    </div>
    <table class="table">
        <thread>
            <tr>
            
                <th scope="col">Room ID</th>
                <th scope="col">Room Name</th>
                <th scope="col">Edit Options</th>
            </tr>
        </thread>
        <tbody>
            {% for row in rooms_joins %}
            <tr>
                <th scope="row">{{ row['room_id'] }}</th>
                <td>{{ row['room_name'] }}</td>
                <td>
                   <form action="/rooms" method="post">
                    <select class="form-control" id="dropdown-menu" name="option_joins">
                            <option value="dashboard">Dashboard</option>
                            <option value=leave>Leave Room</option>
                    </select>
                    <button class="btn btn-primary" name=room_id value={{ row['room_id'] }} type="submit">Go!</button>
                   </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}