{% extends "layout.html" %}

{% block title %}
    Add Options
{% endblock %}

{% block main %}
<h2>Room: {{ room_name }}</h2>
<p>Room Status: Voting/Closed, to modify or reset votes, reset Room</p>
    <table class="table">
        <thread>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Option Name</th>
                <th scope="col"></th>
            </tr>
        </thread>
        <tbody>
            {% for row in room %}
                <tr>
                    <th scope="row">Number</th>
                    <td>{{ row.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <h4>Edit room? (this will reset all votes)</h4>
        <form action="{{ url_for('edit_list') }}" method="POST">
            <button class="btn btn-primary" name="room_id" value={{ room_id }} type="submit">Edit Room!</button>
        </form>
    </div>

{% endblock %}


